#hero {
  padding: 2rem 1rem;
  height: calc(100vh - 6.1rem + 1px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;

background-image: url('../../assets/gray-basketball.svg');
background-repeat: no-repeat;
background-position: center;

background-size : clamp(34rem, 30.7273rem + 14.5455vw, 40rem);
}

.hero__header {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 0.65rem;
  padding-top:2.2rem;
}

.hero__header h1 {
  font-size: clamp(2.5rem, 1.1364rem + 6.0606vw, 5rem);
  text-transform: uppercase;
}

.hero__header h2 {
  font-size: clamp(2rem, 1.1818rem + 3.6364vw, 3.5rem);
  text-transform: uppercase;
  line-height: 1.4rem;
}
.hero__header span {
  font-size: clamp(1.6rem, 1.4909rem + 0.4848vw, 1.8rem);
  text-transform: capitalize;
  font-family: 'Bebas Neue', cursive;

}

.hero__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero__body img {
  width: clamp(14rem, 12.9091rem + 4.8485vw, 16rem);
  aspect-ratio: 6/2;
  object-fit: contain;
}

.hero__body span {
  font-size: 1.8rem;
  font-weight: 800;
  color: #e64524;
  padding: 1.2rem 0;
  position: relative;
}

.hero__body span::before,
.hero__body span::after {
  content: "";
  height: 2px;
  width: 5rem;
  background: #808080;
  position: absolute;
  transform: translate(-50%, -50%);
}

.hero__body span::before {
  left: 50%;
  top: 0.5rem;
}
.hero__body span::after {
  left: 50%;
  bottom: 0.5rem;
}

.hero__footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.85rem;
  margin-top: 2%;
}

.hero__footer div {
  font-size: clamp(1rem, 0.8909rem + 0.4848vw, 1.2rem);
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 0.65rem;
}

/* ++++++++++++++++++++++++++++++++++++++++++ */
@media (width>=760px) {
  #hero{
    gap: 2rem;
  }
  .hero__body {
    flex-direction: row;
  }

  .hero__body img {
    /* width: clamp(14rem, 8.5455rem + 24.2424vw, 24rem); */
    /* width: clamp(18rem, 0.4615rem + 36.9231vw, 24rem); */
  }

  .hero__body span{
  padding: 0 2rem;

  }

  .hero__body span::before,
  .hero__body span::after {
    all: unset;
    content: "";
    width: 2px;
    height: 5rem;
    background: #808080;
    position: absolute;
    transform: translate(-50%, -50%);
  }

  .hero__body span::before {
    left: 0.5rem;
    top: 50%;
  }
  .hero__body span::after {
    right: 0.5rem;
    top: 50%;
  }
}
